.card-important {
    background-image: url("./red_glitter.jpg");
    background-size: cover;
    color: white;

}

.to-do-input {
    margin: auto;
    width: 75%;
    padding: 50px;
    border: 5px solid black;
    border-radius: 15px 50px 30px; 
}

.to-do-card {
    margin: auto;
    width: 75%;
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px 50px 30px;
}

.to-do-card:hover {
    background: red;
}


.sign-in-form{
    border: 5px solid black;
    border-radius: 15px 50px 30px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.center-form-btn {
    text-align: center;
    align-self: center;
    width: 50%;
    margin: auto;
}

.link {
    font-weight: bold;
    text-align: center;
    align-self: center;
    padding: 20px;
    width: 400px;
    margin: auto;
}

.signup-form{
    border: 5px solid black;
    border-radius: 15px 50px 30px;
    text-align: left;
    align-self: center;
    width: 400px;
    margin: auto;
    padding: 30px;
}

.medium-priority{
    background-image: url("./unfocused_lights.jpg");
    background-size: cover;
}

.low-priority{
    background-image: url("./unfocused_lights.jpg");
    background-size: cover;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("./unfocused_lights.jpg");
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}